.App {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App button {
	border: none;
	border-radius: 5px;
	padding: 1rem 2rem;
	outline: none;
	color: white;
	min-width: 20rem;
	transition: background 0.3s ease;
}

.App main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.checkbox-field {
	margin-top: 2rem;
}
